<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List three development environment open source tools for Data Science
- Introducing arithmetic expression examples

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. JAVA

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. matplotlib
4. Seaborn
5. Scikit-learn
6. Tensorflow
7. Pytorch

| Data Science Tools |
| -------------------|
| Jupyter IDE |
| Microsoft Visual Studio |
| Anconda Navigator |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
x = 200 / 60
print('200 minutes =', x, 'hours')

200 minutes = 3.3333333333333335 hours

<h2> Author </h2>
Jimin Woo